<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head') %>
</head>

<body>
    <%- include('partials/nav') %>

        <div class="container">
            <div class="row mt-4">
                <div class="col">
                    <h1>Nouvel Album</h1>
                </div>
            </div>
            <div class="row">
                <form action="/album/create" method="POST">
                    <div class="form-group">
                        <label>Titre</label>
                        <input type="text" name="albumTitle" class="form-control"
                            placeholder="Titre de votre nouvel album" autofocus>
                            </div>
                            <% if (errors.length) { %>

                                <div class="alert alert-danger mt-4 mb-2" role="alert">
                                    <%= errors[0] %>
                                </div>
        
                            <% } %>
                            
                    <button type="submit" class="btn btn-primary mt-2">Créer</button>
                </form>
            </div>
        </div>
        <%- include('partials/scripts') %>
</body>

</html>